/* 
.navbar {
    width: 70%; 
    overflow: auto;
    float: none; 
    margin: auto;
    text-align: center;
} */
/* 
.nav-ul {
    margin: 0;
    padding: 0;
}

.navlist {
    list-style: none;
    position: relative; 
}

.navlinks {
    letter-spacing: 2px;
    font-family: helvetica;
    color: black;
    margin-left: auto;
    margin-right: auto;
    padding:auto;
    width: auto;
    text-align: center;
    
} */
/* 
.underline-on-hover:hover{
    font-family: helvetica;
    text-decoration: underline;
    text-decoration-color: #ffffff;
    color: black;
    border-bottom: 5px solid fuchsia;
}  */