@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

html,
body {
  /* width: 100%;
  height: 100%; */
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  overflow-x: hidden;
}

:root {
  --dominant-color: #4a6657;
  --secondary-color: #454436;
  --background-color: white;
  --accent-color-1: #849666;
  --accent-color-2: #000;
  --accent-color-3: #ad0017;
}

.hamburger-container {
  position: relative;
  display: flex;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 5;
}

.closed-container {
  background: var(--secondary-color);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  animation: close 800ms ease-out forwards;
  z-index: 4;
}

.project-trans {
  background: var(--dominant-color);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  animation: close 1500ms ease-out forwards;
  z-index: 4;
}

.line {
  width: 4rem;
  height: 0.2rem;
  background: #000;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 0.1rem #454436;
  transition: all 0.5s ease-in-out;
}

.line::before,
.line::after {
  content: "";
  position: absolute;
  width: 4rem;
  height: 0.2rem;
  background: #000;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 0.1rem #454436;
  transition: all 0.5s ease-in-out;
}

.line::before {
  transform: translateY(-16px);
}

.line::after {
  transform: translateY(16px);
}

.hamburger-container:hover .line::before {
  bottom: 0.1rem;
}

.hamburger-container:hover .line::after {
  bottom: -0.1rem;
}

/* Animation */
.open .line {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
  cursor: pointer;
}
.open {
  position: relative;
  z-index: 5;
  margin: 3rem 2rem;
}

.open .line::before {
  transform: rotate(45deg) translate(45px, -45px);
  background: #fff;

  /* box-shadow: none; */
}

.open .line::after {
  transform: rotate(-45deg) translate(45px, 45px);
  background: #fff;
  /* box-shadow: none; */
}
.header-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

.shanice-logo,
.navigation-container {
  flex: 1;
  position: relative;
}

.shanice-logo {
  left: 2rem;
}

.my-name {
  font-family: "El+Messiri";
  font-size: 3rem;
}

.not-open {
  display: none;
}

.navigation-container {
  display: flex;
  justify-content: flex-end;
  right: 2rem;
}

.menu-container,
.navigation {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.menu-container {
  width: 200%;
}

.toggle-container {
  display: flex;
  position: fixed;
  justify-content: center;
  background: black;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  flex-direction: column;
  animation: expand 800ms ease forwards;
  z-index: 4;
}

.toggle-navigation {
  display: flex;
  flex-direction: column;
  height: 89.5vh;
}

@keyframes expand {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes close {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes Up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes UpContact {
  100% {
    transform: translateY(-100%);
  }
  0% {
    transform: translateY(0%);
  }
}

.navigation-list {
  list-style: none;
  display: flex;
  align-items: center;
  flex: 1;
}

.navigation-items {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navigation-link {
  position: relative;
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 15rem;
  letter-spacing: 0.8rem;
}
.toggle-links {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 15rem;
  letter-spacing: 0.8rem;
}

.span-hover {
  position: relative;
  display: block;
  cursor: pointer;
}

.span-hover::before,
.span-hover::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: #fff;
}

.span-hover::before {
  left: -2.5px;
}

/* nav link */
.navigation-link .span-hover::after {
  right: 2.5px;
  background: black;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.navigation-link .span-hover:hover::before {
  background: black;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.navigation-link .span-hover:hover::after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

/* toggle link */
.toggle-links .span-hover::after {
  right: 2.5px;
  background: white;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.toggle-links .span-hover:hover::before {
  background: white;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.toggle-links .span-hover:hover::after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

.left,
.right {
  width: 50%;
  height: 100vh;
}

.left {
  position: absolute;
  top: 0px;
  background-color: black;
  float: left;
  z-index: 5;
}

.right {
  position: absolute;
  left: 50%;
  top: 0;
  background-color: black;
  float: right;
  box-sizing: border-box;
  border-left: 1px solid #362d2c;
  z-index: 5;
}

.animated {
  animation-delay: 500ms;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.animated-left {
  animation-name: toZeroLeft;
}

.animated-right {
  animation-name: toZeroRight;
}

@keyframes toZeroLeft {
  from {
    right: 50%;
    width: 50%;
  }

  to {
    right: 100%;
    width: 0;
  }
}

@keyframes toZeroRight {
  from {
    left: 50%;
    width: 50%;
  }

  to {
    left: 100%;
    width: 0;
  }
}

.home-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  animation: Up 1500ms ease-out forwards;
}

.navigation-inner {
  flex: 1;
  display: flex;
  position: relative;
  z-index: 3;
  align-items: center;
  justify-content: center;
}

.left-arrow-scroll,
.right-arrow-scroll {
  flex: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.left-arrow-scroll {
  justify-content: flex-end;
}

.right-arrow-scroll {
  justify-content: flex-start;
}

.left-arrow,
.right-arrow {
  width: 10%;
}

.scroll-navigation {
  flex: 5;
  overflow: hidden;
}

.image-container {
  flex: 1;
  display: flex;
  align-items: center;
  position: absolute;
}

.square-background {
  position: relative;
  right: 13%;
  bottom: 5%;
  width: 30rem;
  height: 56rem;
  background-color: var(--dominant-color);
  z-index: -1;
}

.image-of-shan {
  position: absolute;
}

/*About */
.about-trans {
  background: yellowgreen;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  animation: UpContact 800ms ease-out forwards;
  z-index: 4;
}

.about-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  animation: transitionIn ease-in 800ms;
}

.shan-image {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
  height: 80vh;
}

.laughing-shan {
  position: relative;
  left: 2rem;
  height: 80vh;
}

.about-details {
  flex: 2;
}

.first-name,
.last-name {
  text-transform: uppercase;
  font-family: "Playfair Display SC";
  font-size: 18rem;
}

.first-name {
  color: var(--secondary-color);
  /* text-align: center; */
}

.last-name {
  position: relative;
  display: flex;
  justify-content: center;
  color: var(--accent-color-1);
  float: right;
  width: 30%;
}

.block-shadow {
  width: 90%;
  height: 10rem;
  background-color: var(--dominant-color);
  opacity: 20%;
  position: absolute;
  bottom: 2rem;
  float: right;
  z-index: -2;
}

.more-info {
  font-size: 3.5rem;
  position: relative;
  text-align: justify;
  line-height: 5rem;
  width: 70%;
}

/* projects */

/* .projects-main {
  position: relative;
  text-transform: uppercase;
  font-family: "Playfair Display SC";
  font-size: 18rem;
  color: var(--secondary-color);
  margin: 2rem;
}
 
.project-block {
  width: 40%;
  height: 10rem;
  background-color: var(--dominant-color);
  opacity: 20%;
  bottom: 2rem;
  z-index: -2;
  left: 0rem;
  position: absolute;
} */

.project-container {
  display: flex;
  position: relative;
  height: 89.5vh;
  margin-left: 2rem;
  animation: transitionIn ease-in 800ms;
  /* z-index: -2; */
}

@keyframes transitionIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.project-left,
.project-right {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
}

.project-left {
  background: var(--accent-color-2);
}

.project-right {
  overflow: hidden;
}

/* cards */
.card-container,
.blur-2 {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.blur-2 {
  filter: blur(4px);
}

.card-image-left {
  display: flex;
  justify-content: center;
  position: relative;
}

.card-image-right {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-image-01,
.card-image-02,
.card-image-03,
.card-image-right-01,
.card-image-right-02,
.card-image-right-03 {
  flex: 1;
  display: flex;
  position: relative;
}

.card-image-01,
.card-image-02,
.card-image-03 {
  max-width: 90%;
}

.card-image-right-01,
.card-image-right-02,
.card-image-right-03 {
  max-width: 80%;
}

.page-number {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.footer-number-01,
.footer-number-02,
.footer-number-03 {
  flex: 1;
  font-size: 20rem;
  border-bottom: 0.1rem solid black;
}

.next-button {
  font-size: 4rem;
  padding-top: 2rem;
  cursor: pointer;
  flex: 1;
}

.next-button:hover {
  color: var(--secondary-color);
}

/* Details */

.details-container-01,
.details-container-02,
.details-container-03,
.blur,
.not-blured {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.blur {
  filter: blur(4px);
  cursor: pointer;
}

.title-container-01,
.title-container-02,
.title-container-03,
.subtitle-div,
.toggle-details {
  position: relative;
  display: flex;
}

.details-title-01,
.details-title-02,
.details-title-03 {
  font-size: 2.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
}

.subtitle-div {
  margin-top: 2rem;
  text-align: center;
  font-size: 10rem;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.one-letter-01,
.one-letter-02,
.one-letter-03 {
  font-size: 70rem;
  opacity: 0.6;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  /* left: 12%; */
}

.one-letter-01,
.footer-number-01 {
  color: var(--dominant-color);
}

.one-letter-02,
.footer-number-02 {
  color: var(--accent-color-3);
}

.one-letter-03,
.footer-number-03 {
  color: var(--secondary-color);
}

/* toggle */

.toggle-details {
  margin-top: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  z-index: 10;
}
.project-button {
  cursor: pointer;
  font-size: 2rem;
  color: #fff;
}

.project-details-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 25vh;
  left: 25vw;
  z-index: 5;
}

.project-details-01,
.project-details-02,
.project-details-03 {
  display: flex;
  position: absolute;
  flex-direction: inherit;
  padding: 0 1rem;
  width: 30vw;
  height: 40vh;
  flex: 1;
}

.project-details-01 {
  background-color: var(--dominant-color);
}

.project-details-02 {
  background-color: var(--accent-color-3);
}

.project-details-03 {
  background-color: var(--secondary-color);
}

.exit-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.exit-x {
  cursor: pointer;
  font-weight: bold;
  font-size: 2rem;
}

.exit-x:hover {
  color: white;
}

.p-bottom {
  flex: 1;
}

.p-title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: bolder;
  flex: 2;
  font-size: 3rem;
}
.p-top {
  flex: 4;
}

.p-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p-description,
.p-tech-used,
.descrip,
.tech {
  width: 70%;
  font-size: 2rem;
  text-align: center;
}

.tech,
.descrip {
  font-weight: bold;
}

.p-bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.p-number,
.p-next {
  flex: 1;
}

.p-number {
  font-size: 8rem;
  position: relative;
}

.p-next {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  cursor: pointer;
  position: relative;
}

.p-next:hover {
  color: white;
}

/* contact */
.contact-trans {
  background: yellowgreen;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  animation: DownContact 1000ms ease-out forwards;
  z-index: 4;
}

@keyframes DownContact {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}

.contact-container {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 89.5vh;
  animation: transitionIn ease-in 800ms;
}

.first-line,
.second-line {
  position: relative;
  text-transform: uppercase;
  font-family: "Playfair Display SC";
  font-size: 18rem;
  flex: 1;
  display: flex;
}

.first-line {
  position: relative;
  display: flex;
  float: right;
  color: var(--secondary-color);
  justify-content: flex-end;
}

.block-shadow-2 {
  width: 100%;
  height: 10rem;
  background-color: var(--dominant-color);
  opacity: 20%;
  position: absolute;
  bottom: 2rem;
  float: right;
  z-index: -2;
}

.second-line {
  color: var(--accent-color-1);
  justify-content: center;
}

.contact-details {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
}

.contact-paragraph {
  position: relative;
  font-size: 3rem;
  text-align: justify;
  width: 50%;
}

.ethical {
  width: 15rem;
  height: 3.5rem;
  background-color: var(--accent-color-1);
  opacity: 50%;
  position: absolute;
  font-size: 3rem;
  text-align: justify;
  z-index: -2;
}

/* svg */
#at-sign {
  animation: ball 2s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}
#foot {
  animation: leg 1s ease-in-out infinite;
}

@keyframes ball {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes leg {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(10deg);
  }
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  height: 5vh;
}

.email-div,
.github-div {
  flex: 1;
  display: flex;
  position: relative;
  font-size: 4.5rem;
  padding-bottom: 1rem;
}

.github-div {
  justify-content: flex-end;
  right: 2rem;
}

.email-div {
  justify-content: flex-start;
  left: 2rem;
}

.email-shan {
  text-decoration: none;
}

.fa.fa-github.m-4,
.say-hello {
  display: flex;
  flex: 1;
  position: relative;
  color: black;
}

.fa.fa-github.m-4:hover::before,
.say-hello:hover {
  color: var(--dominant-color);
  font-weight: bolder;
}
