@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Meie+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

html,
body {
  /* width: 100%;
  height: 100%; */
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  overflow-x: hidden;
}

:root {
  --dominant-color: #4a6657;
  --secondary-color: #454436;
  --background-color: white;
  --accent-color-1: #849666;
  --accent-color-2: #000;
  --accent-color-3: #ad0017;
}

.hamburger-container {
  position: relative;
  display: flex;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 5;
}

.closed-container {
  background: var(--secondary-color);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  animation: close 800ms ease-out forwards;
  z-index: 4;
}

.project-trans {
  background: var(--dominant-color);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  animation: close 1500ms ease-out forwards;
  z-index: 4;
}

.line {
  width: 4rem;
  height: 0.2rem;
  background: #000;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 0.1rem #454436;
  transition: all 0.5s ease-in-out;
}

.line::before,
.line::after {
  content: "";
  position: absolute;
  width: 4rem;
  height: 0.2rem;
  background: #000;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 0.1rem #454436;
  transition: all 0.5s ease-in-out;
}

.line::before {
  transform: translateY(-16px);
}

.line::after {
  transform: translateY(16px);
}

.hamburger-container:hover .line::before {
  bottom: 0.1rem;
}

.hamburger-container:hover .line::after {
  bottom: -0.1rem;
}

/* Animation */
.open .line {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
  cursor: pointer;
}
.open {
  position: relative;
  z-index: 5;
  margin: 3rem 2rem;
}

.open .line::before {
  transform: rotate(45deg) translate(45px, -45px);
  background: #fff;

  /* box-shadow: none; */
}

.open .line::after {
  transform: rotate(-45deg) translate(45px, 45px);
  background: #fff;
  /* box-shadow: none; */
}
.header-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

.shanice-logo,
.navigation-container {
  flex: 1;
  position: relative;
}

.shanice-logo {
  left: 2rem;
}

.my-name {
  font-family: "El+Messiri";
  font-size: 3rem;
}

.not-open {
  display: none;
}

.navigation-container {
  display: flex;
  justify-content: flex-end;
  right: 2rem;
}

.menu-container,
.navigation {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.menu-container {
  width: 155%;
}

.toggle-container {
  display: flex;
  position: fixed;
  justify-content: center;
  background: black;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  flex-direction: column;
  animation: expand 800ms ease forwards;
  z-index: 4;
}

.toggle-navigation {
  display: flex;
  flex-direction: column;
  height: 89.5vh;
}

@keyframes expand {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes close {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes Up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes UpContact {
  100% {
    transform: translateY(-100%);
  }
  0% {
    transform: translateY(0%);
  }
}

.navigation-list {
  list-style: none;
  display: flex;
  align-items: center;
  flex: 1;
}

.navigation-items {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navigation-link {
  position: relative;
  text-decoration: none;
  font-family: "Playfair Display SC";
  font-weight: bold;
  color: var(--secondary-color);
  font-size: 10rem;
  letter-spacing: 0.8rem;
}

.toggle-links {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 15rem;
  font-family: "Playfair Display SC";
  letter-spacing: 0.8rem;
}

.span-hover {
  position: relative;
  display: block;
  cursor: pointer;
}

.span-hover::before,
.span-hover::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: #fff;
}

.span-hover::before {
  left: -2.5px;
}

/* nav link */
.navigation-link .span-hover::after {
  right: 2.5px;
  background: black;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.navigation-link .span-hover:hover::before {
  background: black;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.navigation-link .span-hover:hover::after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

/* toggle link */
.toggle-links .span-hover::after {
  right: 2.5px;
  background: white;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.toggle-links .span-hover:hover::before {
  background: white;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.toggle-links .span-hover:hover::after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

.left,
.right {
  width: 50%;
  height: 100vh;
}

.left {
  position: absolute;
  top: 0px;
  background-color: black;
  float: left;
  z-index: 5;
}

.right {
  position: absolute;
  left: 50%;
  top: 0;
  background-color: black;
  float: right;
  box-sizing: border-box;
  border-left: 1px solid #362d2c;
  z-index: 5;
}

.animated {
  animation-delay: 400ms;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.animated-left {
  animation-name: toZeroLeft;
}

.animated-right {
  animation-name: toZeroRight;
}

@keyframes toZeroLeft {
  from {
    right: 50%;
    width: 50%;
  }

  to {
    right: 100%;
    width: 0;
  }
}

@keyframes toZeroRight {
  from {
    left: 50%;
    width: 50%;
  }

  to {
    left: 100%;
    width: 0;
  }
}

.home-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  animation: Up 1500ms ease-out forwards;
}

.navigation-inner {
  flex: 1;
  display: flex;
  position: relative;
  z-index: 3;
  align-items: center;
  justify-content: center;
}

.left-arrow-scroll,
.right-arrow-scroll {
  flex: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.left-arrow-scroll {
  justify-content: flex-end;
}

.right-arrow-scroll {
  justify-content: flex-start;
}

.left-arrow,
.right-arrow {
  width: 10%;
  height: 10%;
}

.right-arrow:hover,
.left-arrow:hover {
  width: 14%;
}

#Vector:hover {
  fill: var(--accent-color-3);
}

.scroll-navigation {
  flex: 5;
  overflow: hidden;
}

.image-container {
  flex: 1;
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
}

.square-background {
  position: relative;
  right: 13%;
  bottom: 5%;
  width: 32rem;
  height: 56rem;
  background-color: var(--dominant-color);
  z-index: -1;
  box-shadow: 0.5rem 0.5rem 0.5rem #000;
}

.image-of-shan {
  position: absolute;
  overflow: hidden;
  transition: transform 0.5s ease;
  cursor: pointer;
  box-shadow: 0.3rem 0.3rem 0.3rem #000;
  z-index: 5;
  height: 500px;
}

.image-of-shan:hover {
  filter: grayscale(0.5);
  transform: scale(0.9);
}

/*About */

.more-info {
  display: flex;
  /* width: 100%; */
  justify-content: center;
  position: relative;
  height: 10vh;
}

.hailing {
  width: 100%;
  font-size: 2.5rem;
  line-height: 3.5rem;
  margin: 0 2rem 1rem 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid black;
  position: relative;
  text-align: justify;
  font-family: "Playfair Display";
  text-align: center;
}

.des,
.dev {
  font-size: 2.3rem;
}

.des {
  font-family: "Homemade Apple", cursive;
  font-weight: bold;
  position: relative;
}

.dev {
  font-family: "Anonymous Pro", monospace;
  overflow: hidden;
  border-right: 2px solid rgba(0, 0, 0, 0.75);
  white-space: nowrap;
  width: 10%;
  animation: typewriter 6s steps(11) infinite normal both,
    blinkTextCursor 400ms steps(11) infinite normal;
  display: inline-flex;
}

@keyframes typewriter {
  10% {
    width: 0ch;
  }

  0% {
    width: 11ch;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: 2px solid rgba(0, 0, 0, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.striking {
  position: relative;
  font-size: 2.5rem;
}

.striking {
  text-decoration: line-through;
}

/* projects */

.project-container {
  display: flex;
  position: relative;
  height: 89.5vh;
  margin-left: 2rem;
  animation: transitionIn ease-in 800ms;
  /* z-index: -2; */
}

@keyframes transitionIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.project-left,
.project-right {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
}

.project-left {
  background: var(--accent-color-2);
}

.project-right {
  overflow: hidden;
}

/* cards */
.card-container,
.blur-2 {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.blur-2 {
  filter: blur(5px);
}

.card-image-left {
  display: flex;
  justify-content: center;
  position: relative;
}

.card-image-right {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-image-01,
.card-image-02,
.card-image-03,
.card-image-right-01,
.card-image-right-03 {
  flex: 1;
  display: flex;
  position: relative;
}

.card-image-left:hover,
.card-image-right:hover {
  transform: translateY(-20px);
}

.card-image-01,
.card-image-02,
.card-image-03 {
  max-width: 90%;
}

.card-image-right-01,
.card-image-right-03 {
  max-width: 80%;
}

.page-number {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  align-items: center;
  right: 2rem;
}

.footer-number-01,
.footer-number-02,
.footer-number-03 {
  flex: 1;
  font-size: 20rem;
  border-bottom: 0.1rem solid black;
}

.next-button {
  font-size: 4rem;
  padding-top: 2rem;
  cursor: pointer;
  flex: 1;
}

.next-button:hover {
  color: var(--secondary-color);
}

/* Details */

.details-container-01,
.details-container-02,
.details-container-03,
.blur,
.not-blured {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.blur {
  filter: blur(5px);
  cursor: pointer;
}

.title-container-01,
.title-container-02,
.title-container-03,
.subtitle-div,
.toggle-details {
  position: relative;
  display: flex;
}

.details-title-01,
.details-title-02,
.details-title-03 {
  font-size: 3rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
}

.subtitle-div {
  margin-top: 2rem;
  text-align: center;
}

.sub-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 6rem;
  color: white;
}

.one-letter-01,
.one-letter-02,
.one-letter-03 {
  font-size: 70rem;
  opacity: 0.6;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  /* left: 12%; */
}

.one-letter-01,
.footer-number-01 {
  color: var(--dominant-color);
}

.one-letter-02,
.footer-number-02 {
  color: var(--accent-color-3);
}

.one-letter-03,
.footer-number-03 {
  color: var(--secondary-color);
}

/* toggle */

.toggle-details {
  margin-top: 2rem;
  z-index: 10;
}
.project-button {
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2.5rem;
  color: #fff;
}

.project-button:hover {
  font-weight: bold;
}

.project-details-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  bottom: 32vh;
  left: 25vw;
  z-index: 5;
}

.project-details-01,
.project-details-02,
.project-details-03 {
  display: flex;
  position: absolute;
  flex-direction: inherit;
  padding: 0 1rem;
  width: 30vw;
  height: 44.75vh;
  flex: 1;
}

.project-details-01 {
  background-color: var(--dominant-color);
}

.project-details-02 {
  background-color: var(--accent-color-3);
}

.project-details-03 {
  background-color: var(--secondary-color);
}

.exit-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.exit-x {
  cursor: pointer;
  font-weight: bold;
  font-size: 2rem;
}

.exit-x:hover {
  color: white;
}

.p-bottom {
  flex: 1;
}

.p-title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: bolder;
  flex: 2;
  font-size: 3rem;
}
.p-top {
  flex: 4;
}

.p-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p-description,
.p-tech-used,
.descrip,
.tech {
  width: 70%;
  font-size: 2rem;
  text-align: center;
}

.tech,
.descrip {
  font-weight: bold;
}

.p-bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.p-number,
.p-next {
  flex: 1;
}

.p-number {
  font-size: 8rem;
  position: relative;
}

.p-next {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  cursor: pointer;
  position: relative;
}

.p-next:hover {
  color: white;
}

/* contact */
.contact-trans {
  background: var(--accent-color-3);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  animation: DownContact 1000ms ease-out forwards;
  z-index: 4;
}

@keyframes DownContact {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}

.contact-container {
  display: flex;
  position: relative;
  height: 89.5vh;
  animation: transitionIn ease-in 800ms;
  margin: 0 2rem;
}

.contact-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-header {
  font-size: 10rem;
  width: 70%;
  font-family: "Playfair Display SC";
  text-align: center;
  color: var(--background-color);
}

.blob {
  position: absolute;
  top: 0;
  left: 0;
  fill: var(--dominant-color);
  width: 50vmax;
  z-index: -1;
  animation: move 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes move {
  0% {
    transform: scale(1) translate(10px, 30px);
  }
  38% {
    transform: scale(0.8, 1) translate(0vw, 30vh) rotate(160deg);
  }
  40% {
    transform: scale(0.8, 1) translate(0vw, 30vh) rotate(160deg);
  }
  78% {
    transform: scale(1.3) translate(0vw, 30vh) rotate(-20deg);
  }
  80% {
    transform: scale(1.3) translate(0vw, 30vh) rotate(-20deg);
  }
  100% {
    transform: scale(1) translate(10px, 30px);
  }
}

.contact-right {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-paragraph {
  font-size: 3rem;
  position: relative;
  display: flex;
  font-family: "Playfair Display";
  border-bottom: 2px solid black;
  padding-bottom: 2rem;
}

.ethical {
  font-size: 2.5rem;
  padding-top: 2rem;
  font-weight: bolder;
  font-family: "Raleway", sans-serif;
}

.pronounciation {
  font-size: 2rem;
  font-style: italic;
  font-family: "Raleway", sans-serif;
}

.definition {
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
}

/* svg */
#at-sign {
  animation: ball 2s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}
#foot {
  animation: leg 1s ease-in-out infinite;
}

@keyframes ball {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes leg {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(10deg);
  }
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 5vh;
}

.email-div,
.github-div {
  flex: 1;
  display: flex;
  position: relative;
  padding-bottom: 1rem;
}

.github-div {
  justify-content: flex-end;
  right: 2rem;
}

.email-div {
  justify-content: flex-start;
  left: 2rem;
}

.email-shan {
  text-decoration: none;
}

.fa.fa-github.m-4,
.say-hello {
  display: flex;
  flex: 1;
  position: relative;
  color: black;
}

.say-hello {
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 2.2rem;
}
.fa.fa-github.m-4:hover::before,
.say-hello:hover {
  color: var(--dominant-color);
  font-weight: bolder;
}

.fa.fa-github.m-4 {
  font-size: 3rem;
}

/* mobile responsiveness */

@media (max-width: 768px) {
  .header-container {
    height: 8vh;
  }

  .toggle-links {
    font-size: 8rem;
  }

  .home-container {
    height: 60vh;
  }

  .my-name {
    font-size: 1.5rem;
  }

  .navigation-inner {
    display: none;
  }

  .image-container {
    justify-content: center;
  }
  .square-background {
    height: 56vh;
    width: 22rem;
  }

  .image-of-shan {
    height: 350px;
  }

  .more-info {
    height: 24vh;
  }
  .hailing {
    border-bottom: none;
    font-size: 1.5rem;
    margin-bottom: none;
  }

  .des,
  .dev,
  .striking {
    font-size: 1.4rem;
  }

  .dev {
    font-family: "Anonymous Pro", monospace;
    overflow: hidden;
    border-right: 2px solid rgba(0, 0, 0, 0.75);
    white-space: nowrap;
    width: 30%;
    animation: typewriter 6s steps(21) infinite normal both,
      blinkTextCursor 500ms steps(21) infinite normal;
    display: inline-flex;
  }

  @keyframes typewriter {
    10% {
      width: 0ch;
    }

    0% {
      width: 21ch;
    }
  }

  @keyframes blinkTextCursor {
    from {
      border-right-color: 2px solid rgba(0, 0, 0, 0.75);
    }
    to {
      border-right-color: transparent;
    }
  }

  .footer-container {
    height: 8vh;
  }

  .say-hello {
    font-size: 1.5rem;
  }

  .fa.fa-github.m-4 {
    font-size: 2rem;
  }

  .project-container {
    flex-direction: column;
    margin-left: 0;
    height: 85vh;
  }

  .one-letter-01,
  .one-letter-02,
  .one-letter-03 {
    font-size: 35rem;
    height: 55vh;
  }

  .details-title-01,
  .details-title-02,
  .details-title-03,
  .project-button {
    font-size: 2rem;
  }

  .sub-title {
    font-size: 3rem;
  }

  .footer-number-01,
  .footer-number-02,
  .footer-number-03 {
    font-size: 10rem;
  }

  .project-details-container {
    bottom: 0;
    left: 0;
  }

  .project-details-01,
  .project-details-02,
  .project-details-03 {
    width: 95vw;
    height: 50vh;
    /* top: 2rem; */
  }

  .p-description {
    width: 100%;
  }

  .contact-container {
    height: 85vh;
    flex-direction: column;
  }

  .contact-header {
    width: 100%;
    font-size: 4rem;
  }
  .blob {
    position: absolute;
    top: 0;
    left: 0;
    fill: var(--dominant-color);
    width: 60vmax;
    z-index: -1;
    animation: roll 10s ease-in-out infinite;
    transform-origin: 60% 60%;
  }

  @keyframes roll {
    0% {
      transform: scale(1) translate(10px, -260px);
    }
    38% {
      transform: scale(0.8, 1) translate(0vw, 30vh) rotate(160deg);
    }
    40% {
      transform: scale(0.8, 1) translate(0vw, 30vh) rotate(160deg);
    }
    78% {
      transform: scale(1.3) translate(0vw, 30vh) rotate(-20deg);
    }
    80% {
      transform: scale(1.3) translate(0vw, 30vh) rotate(-20deg);
    }
    100% {
      transform: scale(1) translate(10px, -260px);
    }
  }

  .contact-paragraph {
    font-size: 2.5rem;
  }
}
