* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
  /* font-size: 62.5%; */
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  overflow-x: hidden;
}

:root {
  --dominant-color: #4a6657;
  --secondary-color: #454436;
  --background-color: white;
  --accent-color-1: #849666;
  --accent-color-2: #000;
  --accent-color-3: #ad0017;
}

.hamburger-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.line {
  width: 4rem;
  height: 0.2rem;
  background: #000;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 0.1rem #454436;
  transition: all 0.5s ease-in-out;
}

.line::before,
.line::after {
  content: "";
  position: absolute;
  width: 4rem;
  height: 0.2rem;
  background: #000;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 0.1rem #454436;
  transition: all 0.5s ease-in-out;
}

.line::before {
  transform: translateY(-16px);
}

.line::after {
  transform: translateY(16px);
}

/* Animation */
.open .line {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
  cursor: pointer;
}
/* .open {
  margin: 0.5rem 3rem 0 3rem;
} */

.open .line::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.open .line::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 3rem;
}

.shanice-logo,
.navigation-container {
  flex: 1;
  display: flex;
}

.navigation-container {
  justify-content: flex-end;
}

.about-container {
  display: flex;
  background: whi;
}

.menu-container .navigation {
  display: flex;
}

.navigation-list {
  list-style: none;
  flex: 1;
}

.navigation-items {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navigation-link {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 5rem;
}
